body {
    margin: 0;
    background-color: #FFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.area-inicio {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.area-validacao {
    text-align: center;
}
.inicio form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inicio input {
    margin-top: 10px;
    background-color: #7ED957;
    border-radius: 10px;
    height: 35px;
    color: #FFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.2);
}
.inicio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
form [value="cadastro"] {
    background-color: red;
}

/* ---- CSS - Cadastro ---- */
#area-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cadastro form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-cadastro label {
    width: 100%;
    margin: 2vh auto;
    display: flex;
    font-size: 16px;
    font-weight: bold;
}
.input-cadastro input{
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 15px;
    text-indent: 10px;
    border-radius: 10px;
}
.cadastro form [type="submit"] {
    display: block;
    color: #FFFF;
    background-color: #FF1616;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    height: 40px;
}
.cadastro h1 {
    display: flex;
    margin-bottom: 5px;
    font-size: 32px;
}
.cadastro p {
    display: flex;
    justify-content: center;
}
.cadastro a {
    color: green;
    text-decoration: none;
    margin-left: 3px;
}

/* ---- CSS - Validação ----*/
.area-validacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.pin-cont-validacao .cod-validacao {
    border: none;
    border-bottom: 4px solid #b3b3b3;
    color: #4d4d4d;
    font-size: 72px;
    background: 0 0;
    margin-right: 10px;
}
.cod-validacao {
    width: 1.2em;
    text-align: center;
    min-width: 60px;
    min-height: 38px;
}
.confirm-pin {
    margin-top: 30px;
}
.confirm-pin [value="Confirmar"] {
    background-color: #FF1616;
    color: #FFFF;
    border: none;
    border-radius: 2px;
    height: 45px;
    width: 90px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    font-weight: bold;
}
.confirm-pin [value="Cancelar"] {
    background-color: #b3b3b3;
    color: #000;
    border: none;
    border-radius: 2px;
    height: 45px;
    width: 90px;
    cursor: pointer;
    font-weight: bold;
}
.area-validacao a {
    text-decoration: none;
    color: red;
}
.p1 {
    margin-top: 25px;
}

/* ---- CSS - Recuperação de Senha ---- */
#area-recuperacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4em;
}
.form-corp {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputsenha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputsenha label {
    margin: 2vh auto;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
.inputsenha input {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 15px;
    text-indent: 10px;
}
.buton-confirm {
    padding: 0 24px;
    cursor: pointer;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: #7ED957;
    color: #FFFF;
    width: 100%;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-corp h3 {
    display: flex;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.form-corp p {
    display: flex;
    justify-content: center;
    margin: 2px 0 2px 0;
}
.desc-baixo {
    font-size: 13px;
}

/* ---- CSS - Login ---- */
#imgsemfundo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4em;
}
#containerLogin{
    width: 25%;
    margin: 0 auto;
}
.contBtns{
    text-align: center;
}
.contBtns button:hover{
    cursor: pointer;
}
#login{
    text-align: center;
}
#login input{
    width: 90%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 15px;
    text-indent: 10px;

}
#login h1{
    width: 90%;
    margin: 2vh auto 4vh auto;

    display: flex;
    
}
#login h4{
    width: 90%;
    margin: 2vh auto 2vh auto;

    display: flex;
}
#buttonE{
    background-color: #54d83a;
    border: none;
    padding: 0.4em 0;
   
    width: 90%;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#buttonE a{
    text-decoration: none;
    color: white;
}
#Esqueceuasenha{
    border: none;
    background-color: #fff;
    
}
#Esqueceuasenha a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#cadastre-se{
    background-color: white;
    border: none;
}
#cadastre-se a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.mgT{
    margin-top: 4vh;
}

/* ---- CSS - Laboratórios ---- */
.container{
    display: flex;
    justify-content: space-between;
}

.item{
    min-width: 33%;
    text-align: center;
}
.item img{
    position: relative;
    top: 30%;
}
.item .menuIte{
    width: 5em;
    position: absolute;
    top: 8%;
    right: 6%;
}
.item .menuIte:hover{
    background-color: rgba(187, 184, 184, 0.849);
}
.item ul{
    display: none;
    position: absolute;
    top: 7.3em;
    right: 0;
    width: 15em;
    list-style-type: none;

}
.item ul li{
    padding: 1em;
    letter-spacing: 2px;
    background-color: rgba(187, 184, 184, 0.849);
}
.item a{
    text-decoration: none;
    color: black;
}

.h2_title{
    width: 40%;
    margin: auto;
    text-align: center;
    margin: 50px auto;
    
    border: 2px solid black;
    border-radius: 20px;
}

.containerSala a{
    width: 70%;
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: center;

    border: 2px solid black;
    border-radius: 20px;

    cursor: pointer;
    text-decoration: none;
    color: black;
}
.containerSala a:hover {
    background-color: rgba(187, 184, 184, 0.849);
}
.containerSala img{
    width: 60px;
    padding: 20px;
    margin: 0 -3em;
}
.containerSala div{
    margin: 0 8em;
}

#footer-lab{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#footer-lab span{
    font-weight: bold;
}

/* ---- CSS - Agendamentos ---- */
.slide-container{
    display: flex;
    align-items: center;
}
.slide-container .btn-icon{
    background-color: #fff;
    outline: none;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
}
.slide{
    text-align: center;
    margin: 0 auto;
    padding: 2em;
    
    width: 80%;
    height: 150px;

    display: flex;
    overflow: hidden;

    scroll-behavior: smooth;
}
.slide::-webkit-scrollbar{
    -webkit-appearance: none;
}
.slide-item{
    width: 18%;
    height: 150px;
    margin: 0 5vh;
    background-color: #fff;

    border: 3px solid black;
    border-radius: 20px;

    box-shadow: 10px 5px 5px 1px black;

    cursor: pointer;
}
.slide-item:hover{
    background-color: rgba(187, 184, 184, 0.849);
}
.slide-item p{
    margin: 20px 0 5px 0;
    padding: 0;

    font-size: 20px;

    pointer-events: none;
}
.slide-item h1{
    margin: 0px 0 20px 0;
    padding: 0;

    font-size: 3.5em;

    pointer-events: none;
}

#horarios{
    text-align: center;
    margin-top: 50px;
}
#horarios h2{
    font-size: 2em;
    margin-bottom: 0;
}
#horarios #mural{
    width: 60%;
    margin: 0 auto;
    max-height: 70vh;
    overflow: scroll;    
}
#horarios #mural::-webkit-scrollbar{
    -webkit-appearance: none;
}
.container-itemMural{
    width: 100%;
    margin: 5vh auto;
    padding: 10px 0;

    display: flex;
    justify-content: space-around;

    font-size: 1.5em;
}
.container-itemMural div{
    width: 40%;
    padding: 1.2em 0.8em;
    border: 3px solid black;
    border-radius: 30px;

    cursor: pointer;
}
.container-itemMural div:hover{
    background-color: rgba(187, 184, 184, 0.849);
}
.container-itemMural .muralItem p{
    pointer-events: none;
}

#footer-agend{
    width: 100%;
    min-height: 100px;
    text-align: center;
    background-color: #fff;
}
#footer-agend img{
    width: 5vh;
    margin: 0;
    padding: 0;
}
#footer-agend button{
    padding: 1vh 6vw;
    background-color: red;
    color: #fff;
    font-size: 1.4em;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;

    cursor: pointer;
}
#footer-agend span{
    font-weight: bold;
}

/* --- CSS - Minhas Reservas --- */
.reservas{
    display: flex;
    justify-content: space-around;
}
.reservaItem{
    width: 30%;
    height: fit-content;
    margin-bottom: 10vh;

    font-size: 1.5rem;

    border: 2px solid black;
    border-radius: 15px;
    box-shadow: -5px 5px 5px 3px black;
}
.reservaItem:hover{

    background-color: rgba(228, 228, 228, 0.664);
    transition: 0.3s;
}
.reservaItem span{
    margin: 0 5vw;
}
.reservaItem .received{
    padding: 0 1em;

    word-wrap: break-word;
}
.reservas .btns-res{
    display: flex;
    justify-content: space-around;

    padding: 0.8em;
}
.reservas div hr{
    width: 90%;
}
.reservas .btns-res input{
    padding: 1rem;

    border-radius: 5px;
}
.reservas .btns-res img{
    cursor: pointer;
}

#footer-reserva{
    width: 100%;
    min-height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#footer-reserva span{
    font-weight: bold;
}

@media (max-width: 319px){
    /* ---- Query - Login ---- */
    #containerLogin{
        width: 80%;
    }

    /* ---- Query - Laboratório ---- */
    .item img{
        width: 8em;
        top: 1.2em;
        right: 0;
    }
    .item .menuIte{
        width: 2em;
        top: 1.8em;
    }
    .item ul{
        top: 2.8em;
        width: 4.5em;
    }
    .item ul li{
        padding: 0.7em 1em;
        letter-spacing: 2px;
        font-size: .7rem;
        background-color: rgba(187, 184, 184, 0.849);
    }

    .h2_title{
        width: 12em;
        margin: 30px auto;

        font-size: .6rem;
        
        border: 2px solid black;
        border-radius: 15px;
    }

    .containerSala a{
        width: 80%;
    }
    .containerSala img{
        width: 3em;
        padding: 1.5em 1em;
        margin: 0;
    }
    .containerSala div{
        margin: 0;
        padding: .1em .5em;
        font-size: .8rem;
    }
    .containerSala div h3{
        font-weight: bold;
    }

    /* ---- Query - Agendamentos ---- */
    .slide-container .btn-icon{
        padding: 0px 10px;
    }
    .slide-container .btn-icon img{
        width: 4em;
    }
    .slide{
        padding: 0.5em;
        height: 7.5em;
    }
    .slide-item{
        width: 100%;
        height: 7em;
        margin: 0 4vw;
    }
    .slide-item p{
        font-size: 1rem;
    }
    .slide-item h1{
        font-size: 2em;
    }

    #horarios{
        text-align: center;
        margin-top: 3em;
    }
    #horarios h2{
        font-size: 2em;
        padding: 0 0 .5em 0;
        margin-bottom: 0;
    }
    #horarios #mural{
        width: 80%;
        margin: 0 auto;
        max-height: 70vh;
        overflow: scroll;    
    }
    .container-itemMural{
        width: 100%;
        margin: 3vh auto;
        padding: 1vh 0;
    
        font-size: 1rem;
        font-weight: none;
    }
    .container-itemMural div{
        width: 30%;
        padding: 0.4em 1em;
    }
    .container-itemMural .muralItem p{
        pointer-events: none;
    }

    #footer-agend button{
        padding: 0.5vh 5vw;
    }

    /* ---- Query - Minhas Reservas ---- */
    .reservas{
        display: block;
    }
    .reservaItem{
        width: 80%;
        margin: 0 auto;
        height: fit-content;
        margin-bottom: 8vh;
    
        font-size: 1rem;
    }
    .reservaItem span{
        margin: 0 12vw;
    }
    .reservas .btns-res input{
        width: 7em;
        margin: 0 0.5em;
    
        border-radius: 5px;
    }

}

@media (min-width: 320px) and (max-width: 479px){
    /* ---- Query - Login ---- */
    #containerLogin{
        width: 80%;
    }

    /* ---- Query - Laboratório ---- */
    .item img{
        width: 8em;
        top: 1.2em;
        right: 0;
    }
    .item .menuIte{
        width: 2em;
        top: 1.8em;
    }
    .item ul{
        top: 2.8em;
        width: 4.5em;
    }
    .item ul li{
        padding: 0.7em 1em;
        letter-spacing: 2px;
        font-size: .7rem;
        background-color: rgba(187, 184, 184, 0.849);
    }

    .h2_title{
        width: 15em;
        margin: 40px auto;

        font-size: .6rem;
        
        border: 2px solid black;
        border-radius: 15px;
    }

    .containerSala a{
        width: 80%;
    }
    .containerSala img{
        width: 3em;
        padding: 1.5em 1em;
        margin: 0;
    }
    .containerSala div{
        margin: 0;
        padding: .1em .5em;
        font-size: .8rem;
    }
    .containerSala div h3{
        font-weight: bold;
    }

    /* ---- Query - Agendamentos ---- */
    .slide-container .btn-icon{
        padding: 0;
    }
    .slide-container .btn-icon img{
        width: 4em;
    }
    .slide{
        padding: 0.5em;
        height: 7.5em;
    }
    .slide-item{
        width: 100%;
        height: 7em;
        margin: 0 4vw;
    }
    .slide-item p{
        font-size: 1rem;
    }
    .slide-item h1{
        font-size: 2em;
    }

    #horarios{
        text-align: center;
        margin-top: 3em;
    }
    #horarios h2{
        font-size: 2em;
        padding: 0 0 .5em 0;
        margin-bottom: 0;
    }
    #horarios #mural{
        width: 80%;
        margin: 0 auto;
        max-height: 70vh;
        overflow: scroll;    
    }
    .container-itemMural{
        width: 100%;
        margin: 3vh auto;
        padding: 1vh 0;
    
        font-size: 1rem;
        font-weight: none;
    }
    .container-itemMural div{
        width: 30%;
        padding: 0.4em 1em;
    }
    .container-itemMural .muralItem p{
        pointer-events: none;
    }

    #footer-agend button{
        padding: 0.5vh 5vw;
    }

    /* ---- Query - Minhas Reservas ---- */
    .reservas{
        display: block;
    }
    .reservaItem{
        width: 80%;
        margin: 0 auto;
        height: fit-content;
        margin-bottom: 8vh;
    
        font-size: 1rem;
    }
    .reservaItem span{
        margin: 0 12vw;
    }
    .reservas .btns-res input{
        width: 7em;
        margin: 0 0.5em;
    
        border-radius: 5px;
    }
    


}

@media(min-width: 480px) and (max-width: 599px){
    /* ---- Query - Login ---- */
    #containerLogin{
        width: 70%;
    }

    /* ---- Query - Laboratório ---- */
    .item img{
        width: 10em;
        top: 1.2em;
        right: 0;
    }
    .item .menuIte{
        width: 2em;
        top: 2.5em;
        right: 1.5em;
    }
    .item ul{
        top: 3.5em;
        width: 5em;
    }
    .item ul li{
        padding: 0.7em 1em;
        letter-spacing: 2px;
        font-size: .7rem;
        background-color: rgba(187, 184, 184, 0.849);
    }

    .h2_title{
        width: 12em;
        margin: 30px auto;

        font-size: .6rem;
        
        border: 2px solid black;
        border-radius: 15px;
    }

    .containerSala a{
        width: 80%;
    }
    .containerSala img{
        width: 3em;
        padding: 1.5em 1em;
        margin: 0;
    }
    .containerSala div{
        margin: 0;
        padding: .1em .5em;
        font-size: .8rem;
    }
    .containerSala div h3{
        font-weight: bold;
    }

    /* ---- Query - Agendamentos ---- */
    .slide-container .btn-icon{
        padding: 0;
    }
    .slide-container .btn-icon img{
        width: 4em;
    }
    .slide{
        padding: 0.5em;
        height: 7.5em;
    }
    .slide-item{
        width: 100%;
        padding: 0 2vw;
        height: 7em;
        margin: 0 4vw;
    }
    .slide-item p{
        font-size: 1rem;
    }
    .slide-item h1{
        font-size: 2em;
    }

    #horarios{
        text-align: center;
        margin-top: 3em;
    }
    #horarios h2{
        font-size: 2em;
        padding: 0 0 .5em 0;
        margin-bottom: 0;
    }
    #horarios #mural{
        width: 80%;
        margin: 0 auto;
        max-height: 70vh;
        overflow: scroll;    
    }
    .container-itemMural{
        width: 100%;
        margin: 3vh auto;
        padding: 1vh 0;
    
        font-size: 1rem;
        font-weight: none;
    }
    .container-itemMural div{
        width: 30%;
        padding: 0.4em 1em;
    }
    .container-itemMural .muralItem p{
        pointer-events: none;
    }

    #footer-agend button{
        padding: 0.5vh 5vw;
    }

    /* ---- Query - Minhas Reservas ---- */
    .reservas{
        display: block;
    }
    .reservaItem{
        width: 60%;
        margin: 0 auto;
        height: fit-content;
        margin-bottom: 8vh;
    
        font-size: 1rem;
    }
    .reservaItem span{
        margin: 0 12vw;
    }
    .reservas .btns-res input{
        width: 7em;
        margin: 0 0.5em;
    
        border-radius: 5px;
    }




}

@media (min-width: 600px) and (max-width: 800px){
    /* ---- Query - Login ---- */
    #containerLogin{
        width: 60%;
    }

    /* ---- Query - Laboratórios ---- */
    .item img{
        width: 10em;
        top: 1.2em;
        right: 0;
    }
    .item .menuIte{
        width: 2em;
        top: 2.5em;
        right: 1.5em;
    }
    .item ul{
        top: 3.5em;
        width: 5em;
    }
    .item ul li{
        padding: 0.7em 1em;
        letter-spacing: 2px;
        font-size: .75rem;
        background-color: rgba(187, 184, 184, 0.849);
    }

    .h2_title{
        width: 15em;
        margin: 30px auto;

        font-size: .7rem;
        
        border: 2px solid black;
        border-radius: 15px;
    }

    .containerSala a{
        width: 80%;
    }
    .containerSala img{
        width: 3em;
        padding: 1.5em 3em;
    }
    .containerSala div{
        margin: 0;
        padding: .1em 4em;
        font-size: .8rem;
    }
    .containerSala div h3{
        font-weight: bold;
    }

    /* ---- Query - Agendamentos ---- */
    .slide-container .btn-icon{
        padding: 0;
    }
    .slide-container .btn-icon img{
        width: 4em;
    }
    .slide{
        padding: 0.5em;
        height: 7.5em;
    }
    .slide-item{
        width: 100%;
        padding: 0 2vw;
        height: 7em;
        margin: 0 3vw;
    }
    .slide-item p{
        font-size: 1rem;
    }
    .slide-item h1{
        font-size: 2em;
    }

    #horarios{
        text-align: center;
        margin-top: 3em;
    }
    #horarios h2{
        font-size: 2em;
        padding: 0 0 .5em 0;
        margin-bottom: 0;
    }
    #horarios #mural{
        width: 70%;
        margin: 0 auto;
        max-height: 70vh;
        overflow: scroll;
    }
    .container-itemMural{
        width: 100%;
        margin: 3vh auto;
        padding: 1vh 0;
    
        font-size: 1rem;
        font-weight: none;
    }
    .container-itemMural div{
        width: 30%;
        padding: 0.4em 1em;
    }
    .container-itemMural .muralItem p{
        pointer-events: none;
    }

    #footer-agend button{
        padding: 0.5vh 5vw;
    }

    /* ---- Query - Minhas Reservas ---- */
    .reservas{
        display: block;
    }
    .reservaItem{
        width: 60%;
        margin: 0 auto;
        height: fit-content;
        margin-bottom: 8vh;
    
        font-size: 1.3rem;
    }
    .reservaItem span{
        margin: 0 11vw;
    }
    .reservas .btns-res input{
        width: 10em;
        margin: 0 0.5em;
    
        border-radius: 5px;
    }







}

@media (min-width: 801px) and (max-width: 1024px){
    /* ---- Query - Login ---- */
    #containerLogin{
        width: 45%;
    }

    /* ---- Query - Laboratório ---- */
    .item img{
        width: 15em;
        top: 1.2em;
        right: 0;
    }
    .item .menuIte{
        width: 3.5em;
        top: 2.8em;
        right: 2em;
    }
    .item ul{
        top: 5.4em;
        width: 8em;
    }
    .item ul li{
        padding: 0.7em 1em;
        letter-spacing: 2px;
        font-size: .85rem;
        background-color: rgba(187, 184, 184, 0.849);
    }

    .h2_title{
        width: 20em;
        margin: 40px auto;

        font-size: .8rem;
        
        border: 2px solid black;
        border-radius: 15px;
    }

    .containerSala a{
        width: 70%;
    }
    .containerSala img{
        width: 4em;
        padding: 1.5em 2.5em;
    }
    .containerSala div{
        margin: 0;
        padding: 0.5em 5em;
        font-size: 0.9rem;
    }
    .containerSala div h3{
        font-weight: bold;
    }

    /* ---- Query - Agendamentos ---- */
    .slide-container .btn-icon{
        padding: 0;
    }
    .slide-container .btn-icon img{
        width: 4em;
    }
    .slide{
        padding: 1em;
        height: 9em;
    }
    .slide-item{
        width: 100%;
        padding: 1vh 2vw;
        height: 8em;
        margin: 0 3vw;
    }
    .slide-item p{
        font-size: 1.3rem;
    }
    .slide-item h1{
        font-size: 2.2em;
    }

    #horarios{
        text-align: center;
        margin-top: 3em;
    }
    #horarios h2{
        font-size: 2em;
        padding: 0 0 .5em 0;
        margin-bottom: 0;
    }
    #horarios #mural{
        width: 70%;
        margin: 0 auto;
        max-height: 70vh;
        overflow: scroll;
    }
    .container-itemMural{
        width: 100%;
        margin: 3vh auto;
        padding: 1vh 0;
    
        font-size: 1.4rem;
        font-weight: none;
    }
    .container-itemMural div{
        width: 35%;
        padding: 0.4em 1em;
    }
    .container-itemMural .muralItem p{
        pointer-events: none;
    }

    #footer-agend button{
        padding: 1vh 5vw;
    }

    /* ---- Query - Minhas Reservas ---- */
    .reservas{
        display: block;
    }
    .reservaItem{
        width: 60%;
        margin: 0 auto;
        height: fit-content;
        margin-bottom: 8vh;
    
        font-size: 1.3rem;
    }
    .reservaItem span{
        margin: 0 11vw;
    }
    .reservas .btns-res input{
        width: 15em;
        margin: 0;
    
        border-radius: 5px;
    }





}

@media (min-width: 1025px) and (max-width: 1280px){
    /* ---- Query - Login ---- */
    #containerLogin{
        width: 35%;
    }
    /* ---- Query - Laboratório ---- */
    .item img{
        width: 20em;
        top: 2em;
        right: 0;
    }
    .item .menuIte{
        width: 5em;
        top: 3.2em;
        right: 3em;
    }
    .item ul{
        top: 7.2em;
        width: 12em;
    }
    .item ul li{
        padding: 1em 1em;
        letter-spacing: 2px;
        font-size: 1rem;
        background-color: rgba(187, 184, 184, 0.849);
    }

    .h2_title{
        width: 18em;
        margin: 50px auto;

        font-size: 1.1rem;
        
        border: 2px solid black;
        border-radius: 15px;
    }

    .containerSala a{
        width: 65%;
    }
    .containerSala img{
        width: 5em;
        padding: 1em 0em;
        margin: 0 -1em;
    }
    .containerSala div{
        margin: 0;
        padding: 0.5em 8em;
        font-size: 0.9rem;
    }
    .containerSala div h3{
        font-weight: bold;
    }

    /* ---- Query - Agendamentos ---- */
    .slide-container .btn-icon{
        padding: 0;
    }
    .slide-container .btn-icon img{
        width: 4em;
    }
    .slide{
        padding: 1em;
        height: 10em;
    }
    .slide-item{
        width: 100%;
        padding: 2vh 2vw;
        height: 8em;
        margin: 0 3vw;
    }
    .slide-item p{
        font-size: 1.5rem;
    }
    .slide-item h1{
        font-size: 2.4em;
    }

    #horarios{
        text-align: center;
        margin-top: 3em;
    }
    #horarios h2{
        font-size: 2.5em;
        padding: 0 0 .5em 0;
        margin-bottom: 0;
    }
    #horarios #mural{
        width: 70%;
        margin: 0 auto;
        max-height: 70vh;
        overflow: scroll;
    }
    .container-itemMural{
        width: 100%;
        margin: 3vh auto;
        padding: 1vh 0;
    
        font-size: 1.7rem;
        font-weight: none;
    }
    .container-itemMural div{
        width: 35%;
        padding: 0.4em 1em;
    }
    .container-itemMural .muralItem p{
        pointer-events: none;
    }

    #footer-agend button{
        padding: 1vh 6vw;
    }

    /* ---- Query - Minhas Reservas ---- */
    .reservas{
        display: flex;
        justify-content: space-around;
    }
    .reservaItem{
        width: 30%;
        margin: 0 auto;
        height: fit-content;
        margin-bottom: 8vh;
    
        font-size: 1.5rem;
    }
    .reservaItem span{
        margin: 0 3.3vw;
    }
    .reservas .btns-res input{
        width: 10em;
        margin: 0;
    
        border-radius: 5px;
    }
    

}