body {
    margin: 0;
    background-color: #FFFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.area-inicio {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.area-validacao {
    text-align: center;
}
.inicio form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inicio input {
    margin-top: 10px;
    background-color: #7ED957;
    border-radius: 10px;
    height: 35px;
    color: #FFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.2);
}
.inicio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
form [value="cadastro"] {
    background-color: red;
}
/* ---- CSS - Cadastro ---- */
.area-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cadastro form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cadastro input {
    margin-top: 10px;
    border-radius: 8px;
    color: black;
    padding-left: 10px;
    height: 30px;
}
.cadastro input::placeholder {
    color: #000;
    font-size: 14px;
}
.cadastro form [type="submit"] {
    display: block;
    color: #FFFF;
    background-color: #FF1616;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    height: 40px;
}
.cadastro h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.cadastro h2 {
    margin-top: 7px;
    margin-bottom: 1px;
}
.cadastro p {
    display: flex;
    justify-content: center;
}
.cadastro a {
    color: green;
    text-decoration: none;
    margin-left: 3px;
}

/* ---- CSS - Login ---- */
#imgsemfundo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4em;
}
#containerLogin{
    width: 25%;
    margin: 0 auto;
}
.contBtns{
    text-align: center;
}
.contBtns button:hover{
    cursor: pointer;
}
#login{
    text-align: center;
}
#login input{
    width: 90%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 15px;

}
#login h1{
    width: 90%;
    margin: 2vh auto 4vh auto;

    display: flex;
    
}
#login h4{
    width: 90%;
    margin: 2vh auto 2vh auto;

    display: flex;
}
#buttonE{
    background-color: #54d83a;
    border: none;
    padding: 15px;
   
    width: 90%;
    border-radius: 10px;
    color: white;
    font-size: 15px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#buttonE a{
    text-decoration: none;
    color: white;
}
#Esqueceuasenha{
    border: none;
    background-color: #fff;
    
}
#Esqueceuasenha a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#cadastre-se{
    background-color: white;
    border: none;
}
#cadastre-se a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.mgT{
    margin-top: 4vh;
}

/* ---- CSS - Laboratórios ---- */
.container{
    display: flex;
    justify-content: space-between;
}

.item{
    min-width: 33%;
    text-align: center;
}
.item img{
    position: relative;
    top: 30%;
}
.item .menuIte{
    width: 5em;
    position: absolute;
    top: 8%;
    right: 6%;
}
.item .menuIte:hover{
    background-color: rgba(187, 184, 184, 0.849);
}
.item ul{
    display: none;
    position: absolute;
    top: 7.3em;
    right: 0;
    width: 15em;
    list-style-type: none;

}
.item ul li{
    padding: 1em;
    letter-spacing: 2px;
    background-color: rgba(187, 184, 184, 0.849);
}
.item a{
    text-decoration: none;
    color: black;
}

.h2_title{
    width: 40%;
    margin: auto;
    text-align: center;
    margin: 50px auto;
    
    border: 2px solid black;
    border-radius: 20px;
}

.containerSala a{
    width: 70%;
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: center;

    border: 2px solid black;
    border-radius: 20px;

    cursor: pointer;
    text-decoration: none;
    color: black;
}
.containerSala a:hover {
    background-color: rgba(187, 184, 184, 0.849);
}
.containerSala img{
    width: 60px;
    padding: 20px;
    margin: 0 -3em;
}
.containerSala div{
    margin: 0 8em;
}
.containerSala div h3{
    font-weight: lighter;
}

#footer-lab{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#footer-lab span{
    font-weight: bold;
}

/* ---- CSS - Agendamentos ---- */
.slide-container{
    display: flex;
    align-items: center;
}
.slide-container .btn-icon{
    background-color: #fff;
    outline: none;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
}
.slide{
    text-align: center;
    margin: 0 auto;
    padding: 2em;
    
    width: 80%;
    height: 150px;

    display: flex;
    overflow: hidden;

    scroll-behavior: smooth;
}
.slide::-webkit-scrollbar{
    -webkit-appearance: none;
}
.slide-item{
    width: 18%;
    height: 150px;
    margin: 0 5vh;
    background-color: #fff;

    border: 3px solid black;
    border-radius: 20px;

    box-shadow: 10px 5px 5px 1px black;

    cursor: pointer;
}
.slide-item:hover{
    background-color: rgba(187, 184, 184, 0.849);
}
.slide-item p{
    margin: 20px 0 5px 0;
    padding: 0;

    font-size: 20px;

    pointer-events: none;
}
.slide-item h1{
    margin: 0px 0 20px 0;
    padding: 0;

    font-size: 3.5em;

    pointer-events: none;
}

#horarios{
    text-align: center;
    margin-top: 50px;
}
#horarios h2{
    font-size: 2em;
    margin-bottom: 0;
}
#horarios #mural{
    width: 60%;
    margin: 0 auto;
    max-height: 70vh;
    overflow: scroll;    
}
#horarios #mural::-webkit-scrollbar{
    -webkit-appearance: none;
}
.container-itemMural{
    width: 100%;
    margin: 5vh auto;
    padding: 10px 0;

    display: flex;
    justify-content: space-around;

    font-size: 1.5em;
}
.container-itemMural div{
    width: 40%;
    padding: 1.2em 0.8em;
    font-weight: lighter;
    border: 3px solid black;
    border-radius: 30px;

    cursor: pointer;
}
.container-itemMural div:hover{
    background-color: rgba(187, 184, 184, 0.849);
}
.container-itemMural .muralItem p{
    pointer-events: none;
}

#footer-agend{
    width: 100%;
    min-height: 100px;
    text-align: center;
    background-color: #fff;
}
#footer-agend img{
    width: 5vh;
    margin: 0;
    padding: 0;
}
#footer-agend button{
    padding: 1vh 6vw;
    background-color: red;
    color: #fff;
    font-size: 1.4em;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;

    cursor: pointer;
}
#footer-agend span{
    font-weight: bold;
}

/* --- CSS - Minhas Reservas --- */
.reservas{
    display: flex;
    justify-content: space-around;
}
.reservaItem{
    width: 30%;
    height: fit-content;
    margin-bottom: 10vh;

    font-size: 1.5rem;

    border: 2px solid black;
    border-radius: 15px;
    box-shadow: -5px 5px 5px 3px black;
}
.reservaItem:hover{

    background-color: rgba(228, 228, 228, 0.664);
    transition: 0.3s;
}
.reservaItem span{
    margin: 0 5vw;
}
.reservaItem .received{
    padding: 0 1em;

    word-wrap: break-word;
}
.reservas .btns-res{
    display: flex;
    justify-content: space-around;

    padding: 0.8em;
}
.reservas div hr{
    width: 90%;
}
.reservas .btns-res input{
    padding: 1rem;

    border-radius: 5px;
}
.reservas .btns-res img{
    cursor: pointer;
}

#footer-reserva{
    width: 100%;
    min-height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#footer-reserva span{
    font-weight: bold;
}